$color-primary:#F1CDB3;
$color-background-grey:#F6F6F6;
$color-background-white:#FFFFFF;
$color-background-brown:#211F20;
$color-link-normal:#CDCDCD;
$color-link-active-hover:#FAFAFA;
$color-text:#CDCDCD;
$color-header-main:#FFFFFF;
$color-header:#545454;
$color-button:#292929;
$color-button-normal:#F1CDB3;
$color-button-hover:#FDDCC4;



$content-width:1280px;
$tablet-width:768px;
$mobile-big-width:375px;
$mobile-small-width:320px;
