.help-content{
 margin: 80px 0 100px 0;
  &__head{
    text-align: center;
    margin-bottom: 60px;

  }
}
.help-layout{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 80px;
  gap: 120px;
  row-gap: 55px;

  text-align: center;
}


.help-icons__description p{
  @include font($size:2rem,$height:2.3rem);
  color: $color-header;
  font-family: 'Georgia', sans-serif;
  letter-spacing: 0.06em;
  margin: 23px 0 4px 0;
}
.help-layout{
  @include media-tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.help-content{
  @include media-tablet {
    margin: 80px 69px 100px 69px;
  }
}

