
.header {

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

}

.header__wrapper_light {
  padding: 25px 0 29px 0;
}

.logo_subtitle {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: $color-header-main;
  margin: 0;
  text-align: center;
  letter-spacing: 0.1em;
}

.navigation {
  display: flex;
  list-style: none;
  margin-top: 15px;


  &__header a {
    text-decoration: none;
    color: $color-link-normal;
    padding-bottom: 4px;
    transition: all 0.3s;
    margin-right: 36px;
    font-family: 'Arial', sans-serif;
    @include font($size: 1.5rem, $height: 2.4rem);

    &:hover {
      color: $color-link-active-hover;
      cursor: pointer;
    }


    &:active {
      border-bottom: 3px $color-primary solid;
      color: $color-link-active-hover;
    }

  }

  &__header_line a {
    border-bottom: 3px $color-primary solid;
    padding-top: 0;
    padding-bottom: 3px;
    color: $color-link-active-hover;

    &:hover {
      cursor: default;
    }

  }

  &__header_last a {
    &:last-child {
      margin-right: 0;
    }
  }
}

.navigation__header_pets a {
  color: $color-header;
  transition: all 0.3s;

  &:hover {
    color: $color-button;
    cursor: pointer;

  }
}

.navigation__header_pets:nth-child(2) a:hover {
  cursor: default;
  color: $color-header;
}

.logo_title {
  margin: 0;
  letter-spacing: 0.06em;


  a {
    font-family: 'Georgia', sans-serif;
    color: $color-primary;
    text-decoration: none;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.5rem;
    vertical-align: top;
  }
}

.logo_title_black {
  color: $color-header;
  font-family: 'Georgia', sans-serif;
  @include font($size: 3.2rem, $height: 3.5rem);
  letter-spacing: 0.06em;


}

.logo_subtitle_black {
  color: $color-button;
  letter-spacing: 0.1em;

}

.header__logo-black {
  margin: 0;
  padding-bottom: 4px;
}

@include media-mobile {
  .navigation {
    display: none;
  }
  .header__navigation {
    display: none;
  }
  .promo-content{
    &__information{
      width: 100%;
    }
    &__title {
      font-family: 'Georgia', sans-serif;
      @include font($size: 2.5rem, $height: 3.2rem);
      letter-spacing: 0.06em;
      text-align: center;

    }
  }

}



