html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Georgia', sans-serif;
}

a,p{
  font-family: 'Arial', sans-serif;
  font-weight: 400;
}
h2{
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
}
h3{
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
}
h4{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}