.button {
  padding: 15px 45px;
  cursor: pointer;
  color: $color-button;
  letter-spacing: 0.06em;
  border-radius: 100px;
  transition: all 0.3s;
  @include font($size:1.7rem,$height:2.2rem);
  &_colored{
    background:$color-button-normal;
    border: 2px solid $color-primary;
  }
  &_bordered {
    border: 2px solid #F1CDB3;
  }
  &:hover{
    background:$color-button-hover;
    border: 2px solid $color-button-hover;
  }

}




