.button {
  padding: 13px 44px;
  color: $color-button;
  background-color: $color-background-white;
  letter-spacing: 0.06em;
  border-radius: 100px;
  transition: all 0.3s;
  font-family: 'Georgia', sans-serif;
  @include font($size: 1.7rem, $height: 2.2rem);

  &_colored {
    background: $color-button-normal;
    border: 2px solid $color-primary;
    text-decoration: none;

  }

  &_bordered {
    border: 2px solid #F1CDB3;
  }

  &_bordered-inactive {
    border: 2px solid $color-text;
    color: $color-text;
    background-color: $color-background-grey;

  }

  &:hover {
    cursor: pointer;
    background: $color-button-hover;
    border: 2px solid $color-button-hover;
  }

  &_bordered-inactive:hover {
    cursor: default;
  }

  &:active {
    box-shadow: 0 0 8px 3px $color-button;
  }


}

.arrow_less:hover, .arrow_less-less:hover {
  border: 2px solid $color-text;
  background-color: $color-background-grey;
  color: $color-text;
}

.arrow_left {
  padding: 13px 15px;
}

.arrow_right {
  padding: 13px 15px;
}

.arrow_number {
  padding: 13px 20px;
  background-color: $color-button-normal;
  color: $color-button;
}

.arrow_number:hover {
  cursor: default;
  background-color: $color-button-normal;
  color: $color-button;
  border: 2px solid $color-button-normal;
}

.arrow_less, .arrow_more {
  padding: 13px 18px;
}

.arrow_less-less, .arrow_more-more {
  padding: 13px 12px;
}


