.button {
  padding: 13px 45px;
  color: $color-button;
  background-color: $color-background-white;
  letter-spacing: 0.06em;
  border-radius: 100px;
  transition: all 0.3s;
  font-family: 'Georgia',sans-serif;
  @include font($size:1.7rem,$height:2.2rem);
  &_colored{
    background:$color-button-normal;
    border: 2px solid $color-primary;
    text-decoration: none;

  }

  &_bordered {
    border: 2px solid #F1CDB3;
  }
  &:hover{
    cursor: pointer;
    background:$color-button-hover;
    border: 2px solid $color-button-hover;
  }
  &:active{
    box-shadow: 0 0 8px 3px $color-button;
  }


}
.arrow_left{
  padding: 23px 19px;
}
.arrow_right{
   padding: 23px 19px;
}



