.collection {
  background-color: $color-background-grey;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 105px;

}

.collections {
  margin: 80px 0 100px 0;

  position: relative;
  max-width: 1200px;

  &__name {
    text-align: center;
    color: $color-header;
    margin-bottom: 60px;
  }
}

.collections__name_pets {
  margin: 82px 0 61px 0;
}

.arrow_left {
  position: absolute;
  left: 0;
  top: 342px;

}

.arrow_right {
  position: absolute;
  right: 0;
  top: 342px;
}

.collections-button {
  display: flex;
  justify-content: center;
  margin-top: 60px;

}

.collection-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding-top: 59px;
}

.collection-card__photo {
  max-width: 270px;
  height: 270px;
}

.collection-card p {
  align-items: center;
  @include font($size: 2rem, $height: 2.3rem);
  text-align: center;
  color: $color-header;
  margin: 30px 0;
  letter-spacing: 0.06em;
  font-family: 'Georgia', sans-serif;
}

.collection__button {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;

}

.collection-card {
  background-color: #FAFAFA;
  transition: all 0.3s;
  color: rebeccapurple;

  &:hover {
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: #FFFFFF;

    .button {
      cursor: pointer;
      background: $color-button-hover;
      border: 2px solid $color-button-hover;
    }

    .change-card {
      background-color: rebeccapurple;
    }
  }


}

.layout-4-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  row-gap: 30px;

}

.right, .left {
  display: block;
}

@include media-tablet {
  .collections {
    margin: 80px auto 100px auto;
    min-width: 708px;
  }

  .last-card {
    display: none;
  }

  .layout-3-column {
    justify-content: space-around;
    gap: 40px;
    margin: 0 150px;
  }


}

@include media-mobile {
  .collections__name h3 {
    @include font($size: 2.5rem, $height: 3.2rem);
    text-align: center;
  }
  .collections__name{
    margin-bottom: 42px;
  }
  .collections {
    margin: 42px 0 42px 0;
    min-width: 100%;
  }
  .second-card {
    display: none;
  }
  .collection .wrapper{
    padding: 0 10px;
  }
  .arrow_left {
    position: absolute;
    left: 59px;
    top: 561px;

  }
  .arrow_right {
    position: absolute;
    right: 59px;
    top: 561px;
  }
  .collections-button{
    margin-top: 114px;
  }
}










