.footer__content{
  display: flex;
  justify-content: space-between;
  margin: 40px 40px 0 40px;
}
.footer{
  background: url(../images/lay/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) #211F20;
}
.footer-contacts{
  max-width: 278px;
  color: $color-button-normal;
  &__connection:last-child{
    margin: 40px 0 60px 0;
  }

}
.footer-address{
  max-width: 302px;
  color: $color-button-normal;
  &__information:last-child{
    margin: 32px 0 60px 0;
  }
}

.footer-contacts__header{
  margin: 16px 0 40px 0;
  color: $color-header-main;
}
.footer-address__header{
  color: $color-header-main;
  margin: 16px 0 34px 0;
}
.footer_flex{
  display: flex;
  //justify-content: space-between;
  align-items: center;
  gap: 20px;

}
.footer_flex img ,h4{
  margin: 0;
}
.icon-envelope img{
  display: block;
}
.footer-photo img{
  width: 300px;
  height: 310px;
}


