.help-content {
  margin: 80px 0 97px 0;

  &__head {
    text-align: center;
    margin-bottom: 64px;

  }
}

.help-layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 120px;
  row-gap: 52px;
  text-align: center;
}


.help-icons__description p {
  @include font($size: 2rem, $height: 2.3rem);
  color: $color-header;
  font-family: 'Georgia', sans-serif;
  letter-spacing: 0.06em;
  margin: 23px 0 4px 0;
}

@include media-tablet {
  .help-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin: 0;
    row-gap: 54px;
  }
  .help-content {
    margin: 80px 39px 100px 39px;

    &__head {
      margin-bottom: 61px;
    }
  }
}

@include media-mobile {
  .help .wrapper {
    padding: 0 15px;
  }
  .help-layout {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .help-icons__description p {
    @include font($size: 1.5rem, $height: 1.7rem);
    margin: 16px 0 0 0;

  }
  .help-content {
    margin: 43px 0 40px 0;
    &__head {
      margin-bottom: 42px;
    }
  }
  .help-icons__icon img{
    height: 50px;
    width: 50px;
  }
}



